{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Container Service Client.",
        "title": "ContainerServiceClient",
        "version": "2017-09-30",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2017-09-30/location.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "containerservices-location",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators": {
            "get": {
                "description": "Gets a list of supported orchestrators in the specified subscription. The operation returns properties of each orchestrator including version and available upgrades.",
                "operationId": "ContainerServices_ListOrchestrators",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of a supported Azure region.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "resource type for which the list of orchestrators needs to be returned",
                        "in": "query",
                        "name": "resource-type",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of versions for supported orchestrators.",
                                    "properties": {
                                        "id": {
                                            "description": "Id of the orchestrator version profile list result.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the orchestrator version profile list result.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The properties of an orchestrator version profile.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "orchestrators": {
                                                    "description": "List of orchestrator version profiles.",
                                                    "items": {
                                                        "description": "The profile of an orchestrator and its available versions.",
                                                        "properties": {
                                                            "default": {
                                                                "description": "Installed by default if version is not specified.",
                                                                "type": "boolean"
                                                            },
                                                            "orchestratorType": {
                                                                "description": "Orchestrator type.",
                                                                "type": "string"
                                                            },
                                                            "orchestratorVersion": {
                                                                "description": "Orchestrator version (major, minor, patch).",
                                                                "type": "string"
                                                            },
                                                            "upgrades": {
                                                                "description": "The list of available upgrade versions.",
                                                                "items": {
                                                                    "description": "Contains information about orchestrator.",
                                                                    "properties": {
                                                                        "orchestratorType": {
                                                                            "description": "Orchestrator type.",
                                                                            "type": "string"
                                                                        },
                                                                        "orchestratorVersion": {
                                                                            "description": "Orchestrator version (major, minor, patch).",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "orchestratorType",
                                                                        "orchestratorVersion"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "orchestratorVersion",
                                                            "orchestratorType",
                                                            "upgrades",
                                                            "default"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "orchestrators"
                                            ]
                                        },
                                        "type": {
                                            "description": "Type of the orchestrator version profile list result.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets a list of supported orchestrators in the specified subscription.",
                "tags": [
                    "ContainerServices"
                ],
                "x-ms-examples": {
                    "List Container Service Orchestrators": {
                        "parameters": {
                            "api-version": "2017-09-30",
                            "location": "location1",
                            "subscriptionId": "subid1"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid1/providers/Microsoft.ContainerService/locations/location1/orchestrators",
                                    "name": "default",
                                    "properties": {
                                        "orchestrators": [
                                            {
                                                "orchestratorType": "DCOS",
                                                "orchestratorVersion": "1.10.0"
                                            },
                                            {
                                                "default": true,
                                                "orchestratorType": "DCOS",
                                                "orchestratorVersion": "1.9.0"
                                            },
                                            {
                                                "orchestratorType": "DCOS",
                                                "orchestratorVersion": "1.8.8"
                                            },
                                            {
                                                "orchestratorType": "Swarm",
                                                "orchestratorVersion": "swarm:1.1.0"
                                            },
                                            {
                                                "orchestratorType": "DockerCE",
                                                "orchestratorVersion": "17.03.*"
                                            },
                                            {
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.8.1",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.8.4"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.2"
                                                    }
                                                ]
                                            },
                                            {
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.8.2",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.8.4"
                                                    }
                                                ]
                                            },
                                            {
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.6.11",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.7.4"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.9"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.12"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.1"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.0"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.5"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.10"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.13"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.2"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.7"
                                                    }
                                                ]
                                            },
                                            {
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.7.7",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.7.9"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.4"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.0"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.10"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.1"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.2"
                                                    }
                                                ]
                                            },
                                            {
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.5.8",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.6.11"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.13"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.9"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.6"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.12"
                                                    }
                                                ]
                                            },
                                            {
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.6.9",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.7.4"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.9"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.12"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.1"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.0"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.5"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.10"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.11"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.6.13"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.2"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.7"
                                                    }
                                                ]
                                            },
                                            {
                                                "default": true,
                                                "orchestratorType": "Kubernetes",
                                                "orchestratorVersion": "1.7.9",
                                                "upgrades": [
                                                    {
                                                        "orchestratorVersion": "1.8.1"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.2"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.4"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.8.0"
                                                    },
                                                    {
                                                        "orchestratorVersion": "1.7.10"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "Microsoft.ContainerService/locations/orchestrators"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "OrchestratorProfile": {
                "description": "Contains information about orchestrator.",
                "properties": {
                    "orchestratorType": {
                        "description": "Orchestrator type.",
                        "type": "string"
                    },
                    "orchestratorVersion": {
                        "description": "Orchestrator version (major, minor, patch).",
                        "type": "string"
                    }
                },
                "required": [
                    "orchestratorType",
                    "orchestratorVersion"
                ],
                "type": "object"
            },
            "OrchestratorVersionProfile": {
                "description": "The profile of an orchestrator and its available versions.",
                "properties": {
                    "default": {
                        "description": "Installed by default if version is not specified.",
                        "type": "boolean"
                    },
                    "orchestratorType": {
                        "description": "Orchestrator type.",
                        "type": "string"
                    },
                    "orchestratorVersion": {
                        "description": "Orchestrator version (major, minor, patch).",
                        "type": "string"
                    },
                    "upgrades": {
                        "description": "The list of available upgrade versions.",
                        "items": {
                            "description": "Contains information about orchestrator.",
                            "properties": {
                                "orchestratorType": {
                                    "description": "Orchestrator type.",
                                    "type": "string"
                                },
                                "orchestratorVersion": {
                                    "description": "Orchestrator version (major, minor, patch).",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "orchestratorType",
                                "orchestratorVersion"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "orchestratorVersion",
                    "orchestratorType",
                    "upgrades",
                    "default"
                ],
                "type": "object"
            },
            "OrchestratorVersionProfileListResult": {
                "description": "The list of versions for supported orchestrators.",
                "properties": {
                    "id": {
                        "description": "Id of the orchestrator version profile list result.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "name": {
                        "description": "Name of the orchestrator version profile list result.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "properties": {
                        "description": "The properties of an orchestrator version profile.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "orchestrators": {
                                "description": "List of orchestrator version profiles.",
                                "items": {
                                    "description": "The profile of an orchestrator and its available versions.",
                                    "properties": {
                                        "default": {
                                            "description": "Installed by default if version is not specified.",
                                            "type": "boolean"
                                        },
                                        "orchestratorType": {
                                            "description": "Orchestrator type.",
                                            "type": "string"
                                        },
                                        "orchestratorVersion": {
                                            "description": "Orchestrator version (major, minor, patch).",
                                            "type": "string"
                                        },
                                        "upgrades": {
                                            "description": "The list of available upgrade versions.",
                                            "items": {
                                                "description": "Contains information about orchestrator.",
                                                "properties": {
                                                    "orchestratorType": {
                                                        "description": "Orchestrator type.",
                                                        "type": "string"
                                                    },
                                                    "orchestratorVersion": {
                                                        "description": "Orchestrator version (major, minor, patch).",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "orchestratorType",
                                                    "orchestratorVersion"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "orchestratorVersion",
                                        "orchestratorType",
                                        "upgrades",
                                        "default"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "required": [
                            "orchestrators"
                        ]
                    },
                    "type": {
                        "description": "Type of the orchestrator version profile list result.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "required": [
                    "properties"
                ],
                "type": "object"
            },
            "OrchestratorVersionProfileProperties": {
                "description": "The properties of an orchestrator version profile.",
                "properties": {
                    "orchestrators": {
                        "description": "List of orchestrator version profiles.",
                        "items": {
                            "description": "The profile of an orchestrator and its available versions.",
                            "properties": {
                                "default": {
                                    "description": "Installed by default if version is not specified.",
                                    "type": "boolean"
                                },
                                "orchestratorType": {
                                    "description": "Orchestrator type.",
                                    "type": "string"
                                },
                                "orchestratorVersion": {
                                    "description": "Orchestrator version (major, minor, patch).",
                                    "type": "string"
                                },
                                "upgrades": {
                                    "description": "The list of available upgrade versions.",
                                    "items": {
                                        "description": "Contains information about orchestrator.",
                                        "properties": {
                                            "orchestratorType": {
                                                "description": "Orchestrator type.",
                                                "type": "string"
                                            },
                                            "orchestratorVersion": {
                                                "description": "Orchestrator version (major, minor, patch).",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "orchestratorType",
                                            "orchestratorVersion"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "required": [
                                "orchestratorVersion",
                                "orchestratorType",
                                "upgrades",
                                "default"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "orchestrators"
                ],
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string"
                }
            },
            "LocationParameter": {
                "description": "The name of a supported Azure region.",
                "in": "path",
                "name": "location",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceTypeParameter": {
                "description": "resource type for which the list of orchestrators needs to be returned",
                "in": "query",
                "name": "resource-type",
                "required": false,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}